.facebook_message{
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.homepage{
    position: sticky;
    top: 0;
    background-color:  white;
    padding: 0px 0px;
    opacity: 0.9;
}
.logo a{
    font-size: 30px;
    text-decoration: none;
    color: green;
}
.logo a:hover{
    color: black;
}
.search{
    border: greenyellow;
    text-align: center;
}
.login{
    display: flex;
    justify-content: space-around;
    text-align: end;
    font-size: 20px;
    color: green;
}
.login i:hover{
    color: black;
}
.logo, .search, .login{
    padding: 20px 0;
}
.nav_buttom {
    width: 100%;
    border: gray 0.1px  solid;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}
.nav_buttom:hover{
}
.nav_buttom a{
    text-decoration: none;
    color: black;
}
.nav_buttom a:hover {
    color: green;
    background-color: white;
    opacity: 0.5;
}
.banner img{
    width: 100%;
}
.item_group{
    padding: 50px 50px;
}
.item_group .container h2{
    text-align: center;
}
.item_group .container h2:hover{
    color: green;
    background-color: white;
    opacity: 0.5;
}
.item_group .container h3{
    text-align: end;
}
.item_group .container h3:hover{
    color: green;
    background-color: white;
    opacity: 0.5;
}
.item{
    text-align: start;
}
.item:hover{
    background-color: white;
    opacity: 0.5;
}
.item img{
    width: 100%;
}
.item h4{
    color: green;
}
.item h4:hover{
    color: black;
}
.item h2:hover{
    font-size: 27px;
}

